.spinnerAnimationContainer {
  align-items: center;
  display: flex;
  height: 0;
  justify-content: center;
  position: relative;
  transform: translateY(130px);
}

.qrVideo {
  display: block;
  height: auto;
  margin-bottom: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
}
.qrVideo + :global(.scan-region-highlight) svg {
  stroke: var(--color-darkyellow) !important;
  stroke-width: 3 !important;
}

@media (max-width: 768px) {
  .qrVideo {
    height: 100vh;
  }
}