.tx {
  font-size: 100%;
  /* border-bottom: 2px solid var(--background-quaternary); */
  /* background-color: var(--background-secondary); */
  /* border: 1px solid var(--background-quaternary);
  border-radius: 2px; */
  margin-bottom: 2px;
}

.txContent {
  display: flex;
  justify-content: space-between;
  padding: var(--space-half) 0;
}

.txIcon {
  align-self: center;
  flex-basis: 50px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: left;
}
@media (max-width: 768px) {
  .txIcon {
    flex-basis: 44px;
  }
}
@media (max-width: 560px) {
  .txIcon {
    flex-basis: 33px;
  }
}

.txInfoColumn {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

.txAmountsColumn {
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 16px;
  padding: 0 var(--space-half) 0 48px;
  text-align: right;
}
@media (max-width: 560px) {
  .txAmountsColumn {
    padding-left: 24px;
  }
}

.txAmount {
  font-size: 18px;
  font-variant: tabular-nums;
  font-weight: 600;
  display: block;
  padding: 3px 0 3px 0;
}
@media (max-width: 560px) {
  .txAmount {
    font-size: 18px;
    line-height: 1.222222;
    padding-bottom: 4px;
  }
}
.txConversionAmount {
  font-variant: tabular-nums;
}

.txNote {
  display: block;
  padding: 3px 0;
}
.txNoteText {
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 560px) {
  .txNote {
    padding: 3px 0 4px 0;
  }
  .txNoteText {
    line-height: 1.222222;
  }
}

.txInfoColumn,
.txNote {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.txDate,
.txProgress {
  align-items: center;
  color: var(--color-secondary);
  display: flex;
  padding-bottom: 6px;
}

.txProgress {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 1;
}

.txProgressText {
  flex-grow: 0;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: var(--space-eight);
}

.iconProgress {
  flex-grow: 0;
  flex-shrink: 0;
  vertical-align: text-bottom;
}

.addresses {
  color: var(--color-secondary);
  font-size: 16px;
  font-weight: normal;
}
.txType {
  font-size: 18px;
  font-weight: 600;
}

.txDateLong {
  display: block;
}
.txDateShort {
  display: none;
}
@media (max-width: 560px) {
  .txDateLong {
    display: none;
  }
  .txDateShort {
    display: block;
  }
}

.txShowDetailBtn {
  appearance: none;
  background-color: transparent;
  border: none;
  color: var(--color-blue);
  cursor: pointer;
  display: block;
  flex-basis: 61px;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .txShowDetailBtn {
    display: none;
  }
}
.iconLoupe {
  max-width: 24px;
  vertical-align: text-bottom;
}